@use '../../globalStyles/variables' as *;
@use '../../globalStyles/mixins' as *;

.div-prehome {
  background-color: $darkgrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &.transition-out {
    background-color: #ffffff;
    opacity: 0;
  }

  .div-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: 450px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  .div-texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    @media (max-width: 450px) {
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 20px;
      text-align: center;
    }
  }
  .div-texto > p {
    font-family: $font1;
    font-size: 1.2em;
    color: $yellow;
  }
  .h2-texto {
    font-family: $font1;
    color: $white;
    margin: 0;

    font-size: 3.5em;
    @media (max-width: 950px) {
      font-size: 2.5em;
    }
    @media (max-width: 650px) {
      font-size: 2em;
    }
  }
  .button-puzzle {
    background-color: rgba(0, 255, 255, 0);
    border: none;
    border-style: none;
    cursor: pointer;
  }
  .img-puzzle {
    width: 20em;
    height: 20em;
    margin-bottom: 5px;
    @media (max-width: 950px) {
      width: 15em;
      height: 15em;
    }
    @media (max-width: 650px) {
      width: 10em;
      height: auto;
    }
  }
  .img-flecha {
    width: 5em;
    height: 5em;
  }
  .div-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.mini-header {
  @include mini-header($yellow, $darkgrey, $darkgrey);
  z-index: 10;
  top: 0;
}

.div-prehome2 {
  background-color: $yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  #div-prehome2 active {
    display: block;
  }
  .img-fondo {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
  }
  .div-info2 {
    @include contenedor-animado('left', 80%);
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

  .gif {
    width: 10em;
    height: 10em;
    @media (max-width: 750px) {
      width: 7em;
      height: 7em;
    }
    @media (max-width: 450px) {
      width: 5em;
      height: auto;
    }
  }
  .mini-header2 {
    @include mini-header(rgb(238, 236, 236), $darkgrey, $purple);
  }
  .texto2 {
    width: 80%;
    text-align: center;
    color: $darkgrey;
    font-family: $font1;
    margin: 0;
    font-size: 1.5rem;
    @media (max-width: 450px) {
      font-size: 1.1em;
    }
  }
  .div-registrate {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 80%;
  }
  .h2-registrate {
    text-align: start;
    font-family: $font1;
    font-size: 1.5rem;
    color: $darkgrey;
    @media (max-width: 750px) {
      font-size: 1em;
    }
    @media (max-width: 450px) {
      font-size: 0.7em;
    }
  }
  #a-registrate {
    font-family: $font1;
    font-size: 1.5rem;
    color: $darkgrey;
    text-decoration: underline;
    font-weight: 700;
    @media (max-width: 750px) {
      font-size: 1em;
    }
    @media (max-width: 450px) {
      font-size: 0.7em;
    }
  }
}
