@use './src/globalStyles/variables' as *;
@use './src/globalStyles/mixins' as *;
@use './src/Components/Header/header';
@use './src/Pages/Home/_home.scss';
@use './src/Pages/LoginRegister/loginRegister';
@use './src/Pages/Talleres/tallereseventos.scss';
@use './src/Pages/Prehome/prehome.scss';

* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}
#app2 {
  width: 100%;
  height: 100%;
}
main {
  overflow-x: hidden;
}
